/*.placeholderbutton{
  height: 50px ;
  width: 150px ;  
  background-color: red;
  text-align: center;
  line-height: 50px;
}*/

.headerOne {
  text-align: center;
  color: red;
}
.buttwrap {
  margin-left: 46%;
}
